<html>
<head>
	<title>Clock Out</title>
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body>

<div id="body">
<h1>Time remaining before clock out</h1>

<div ng-app="clockOut">
	<div ng-controller="Timer">
		Current number of hours: <input type="text" ng-model="time"><br>

		<div id="time">
			<h3>Time remaining:</h3>
			<h3>{{hours}}:{{minutes}}:{{seconds}}</h3>
		</div>
		<button ng-click="start(time)">Start</button>
		<div>
			<audio controls id="five_minutes">
				<source src="time_alert.mp3" type="audio/mp3">
			</audio>
			<audio controls id="one_minute">
				<source src="time_alert.mp3" type="audio/mp3">
			</audio>
			<audio controls id="warning">
				<source src="warning.mp3" type="audio/mp3">
			</audio>
			<script>
				document.getElementById("five_minutes").style.display="none";
				document.getElementById("one_minute").style.display="none";
				document.getElementById("warning").style.display="none";
			</script>
		</div>
	</div>
</div>
</div>

</body>
</html>
