<html ng-app="clockOut">
<head>
	<title>Clock Out</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="http://danielcrisp.github.io/angular-rangeslider/angular.rangeSlider.js"></script>
	<link href="http://danielcrisp.github.io/angular-rangeslider/angular.rangeSlider.css" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="main.js"></script>
</head>
<body>

<div id="body">
<h1>Time remaining before clock out</h1>
<div ng-app="clockOut">

	<div ng-controller="ClockCtrl">

		<!-- Time picker -->
		<div class="container-fluid">
			<div class="row">
					Time clocked in:
					<timepicker ng-model="mytime"></timepicker>
			</div>
		</div>

		<!-- Sliders -->
		<div>
			<h4>Hours so far: {{hoursWorked + (granularity * .01)}}</h4>
			<div class="row">
				<div range-slider min="0" max="39" model-min="0" model-max="hoursWorked" pin-handle="min" class="col-md-6"></div>
			</div>
			<div class="row">
				<div range-slider min="0" max="99" model-min="0" model-max="granularity" pin-handle="min" class="col-md-6"></div>
			</div>
		</div><br>

		<!-- Display the clockout time -->
		<div>{{ display() }}</div>

		<!-- The timer -->
		<div id="time">
			<h3>Time remaining:</h3>
			<h3>{{hoursRemaining}}:{{minutesRemaining}}:{{secondsRemaining}}</h3>

		</div>

		<!-- Start button -->
		<button class="btn btn-default" ng-click="calculate(mytime);">START</button>

		<!-- Sounds ready to play -->
		<div>
			<audio id="five_minutes">
				<source src="time_alert.mp3" type="audio/mp3">
			</audio>
			<audio id="one_minute">
				<source src="time_alert.mp3" type="audio/mp3">
			</audio>
			<audio id="warning">
				<source src="warning.mp3" type="audio/mp3">
			</audio>
		</div>
	</div>
</div>
</div>

</body>
</html>
