body {
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #9EABEF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #9EABEF 100%);

}

#body {
	font-family: courier;
	width: 80%;
	height: 100%;
	text-align: center;
	margin: auto;
}
